:root {
  --primary-color: #161458;
  --secondary-color: #ffffff;

  --black-color: #000000;

  --primary-bgColor: #faf9f9;
  --secondary-bgColor: #00c385;

  --footer-primary-color: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  overflow-x: hidden;
} */

.main-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-decoration {
  text-decoration: none;
}

.primary-btn {
  height: 50px;
  padding: 23px 38px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.523%; /* 26.374px */
  background-color: var(--primary-color);
  box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.03);
  border: none;
}

.secondary-btn {
  padding: 10px 20px;
  height: 50px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.523%; /* 26.374px */
  background-color: var(--secondary-bgColor);
  box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.03);
  border: none;
}

/* header section header section header section header section header section header section header section header section header section header section header section header section  */
.Header-section {
  width: 100%;
  z-index: 10;
  background-color: var(--secondary-color);
}

.Header-section > .container {
  width: 100%;
  padding: 1rem 1.5rem;
}

.Header-section > .container > .header-main {
  width: 100%;
  justify-content: space-between;
}

.header-main > a > img {
  width: 146.978px;
  height: 48px;
  flex-shrink: 0;
}

.header-main > .header-login-section > a {
  color: var(--primary-color);
}

.header-main > .header-login-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 38px;
  flex-shrink: 0;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (max-width: 769px) {
  .header-main > a > img {
    width: 126.978px;
    height: 40px;
  }

  .header-main > .header-login-section {
    gap: 8px;
  }

  .header-main > .header-login-section > a {
    color: var(--primary-color);
    font-size: 14px;
  }

  .header-main > .header-login-section > a > .primary-btn {
    height: 40px;
    padding: 15px 25px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .Header-section > .container {
    width: 100%;
    padding: 0.7rem 1rem;
  }
  .header-main > a > img {
    width: 106.978px;
    height: 35px;
  }

  .header-main > .header-login-section > a {
    font-size: 14px;
  }

  .header-main > .header-login-section > a > .primary-btn {
    height: 35px;
    padding: 11px 15px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .Header-section > .container {
    padding: 0.3rem 0.6rem;
  }
  .header-main > a > img {
    width: 86px;
    height: 30px;
  }

  .header-main > .header-login-section > a {
    font-size: 12px;
  }

  .header-main > .header-login-section > a > .primary-btn {
    height: 30px;
    padding: 8px 10px;
    font-size: 10px;
  }
}

/* Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  */
main > .hero-section {
  background-color: var(--primary-bgColor);
  width: 100%;
  padding: 5rem 0rem;
}

.hero-section > .container {
  width: 100%;
}

.hero-section > .container > .hero-container {
  width: 100%;
}

.hero-container > .hero-sideMainImg {
  width: 45%;
  flex-shrink: 0;
}

.hero-left-section {
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}

.hero-left-section > .hero-heading-section > .hero-left-heading {
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
  flex-direction: column;
  color: var(--primary-color);
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 81px;
  text-transform: capitalize;
}

.hero-left-heading > span {
  font-weight: 700;
}

.hero-heading-bottom-section {
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}

.hero-heading-bottom-section > .download-button {
  gap: 1.5rem;
  position: relative;
}

.hero-heading-bottom-section > p {
  padding: 0 5rem 0 0;
  color: #1c1c1c;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.Hero-section-slider {
  width: 50%;
  height: 400px;
  position: relative;
  justify-content: center;
}

.Hero-section-slider .slick-slide img {
  width: 90%;
}

.Hero-section-slider > .hero-sideTopImg {
  position: absolute;
  z-index: 2;
  left: -60px;
  top: -100px;
  width: 155px;
  height: 155px;
  background-color: var(--secondary-bgColor);
  border-radius: 50%;
  justify-content: center;
}

.Hero-section-slider > .hero-sideTopImg > p {
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  font-size: 14px;
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
}

.Hero-section-slider > .hero-sideTopImg > p > span {
  font-weight: 800;
  font-size: 17px;
}

.Hero-section-slider > .center {
  width: 100%;
  height: 100%;
}

.center > .img-section {
  width: 100%;
  height: 100%;
  background-color: #161458;
  color: var(--footer-primary-color);
}

/* Mobile Hero Section Button  Mobile Hero Section Button  Mobile Hero Section Button  Mobile Hero Section Button */
.Mobile-hero-section {
  display: none;
  padding: 0 0 4rem 0;
  background-color: var(--primary-bgColor);
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.Mobile-hero-section > .header-login-section > a {
  color: var(--primary-color);
}

.Mobile-hero-section > .header-login-section {
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Mobile-hero-section > .download-button {
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.Mobile-hero-section > .download-button > h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--primary-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
}

@media only screen and (max-width: 995px) {
  .hero-left-section > .hero-heading-section > .hero-left-heading {
    font-size: 42px;
    line-height: 60px;
  }
  .hero-section > .container {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 770px) {
  main > .hero-section {
    padding: 2rem 0rem 10rem 0rem;
  }
  .hero-section > .container > .hero-container {
    flex-direction: column;
    gap: 7rem;
  }
  .Hero-section-slider {
    width: 100%;
  }
  .Hero-section-slider > .hero-sideTopImg {
    left: 73%;
    top: -100px;
    width: 125px;
    height: 125px;
  }

  .Hero-section-slider > .hero-sideTopImg > p {
    padding: 1rem 0rem 0 0rem;
    font-size: 12px;
  }

  .Hero-section-slider > .hero-sideTopImg > p > span {
    font-size: 15px;
  }

  .Hero-section-slider .center .img-section img {
    width: 90%;
  }

  .hero-heading-bottom-section > .download-button {
    display: none;
  }

  .hero-heading-bottom-section > a {
    display: none;
  }

  .Mobile-hero-section {
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  main > .hero-section {
    padding: 2rem 0rem 9rem 0rem;
  }
  .hero-section > .container > .hero-container {
    gap: 5rem;
  }
  .Hero-section-slider {
    width: 60%;
  }
  .Hero-section-slider .slick-slide img {
    width: 100%;
    margin: 0 auto;
  }
  .hero-heading-bottom-section {
    gap: 2rem;
  }
  .hero-left-section > .hero-heading-section > .hero-left-heading {
    font-size: 35px;
    line-height: 50px;
  }

  .hero-left-section > .hero-heading-section > img {
    width: 65%;
  }

  .hero-heading-bottom-section > p {
    padding: 0;
  }

  .Hero-section-slider > .hero-sideTopImg {
    left: 70%;
    top: -50px;
    width: 120px;
    height: 120px;
  }

  .Hero-section-slider > .hero-sideTopImg > p {
    font-size: 12px;
  }

  .Hero-section-slider > .hero-sideTopImg > p > span {
    font-weight: 800;
    font-size: 15px;
  }

  .primary-btn {
    height: 45px;
    padding: 7px 25px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 410px) {
  main > .hero-section {
    padding: 2rem 0rem 13rem 0rem;
  }
  .Hero-section-slider {
    width: 80%;
  }
  .hero-left-section > .hero-heading-section > img {
    width: 65%;
  }
}

@media only screen and (max-width: 340px) {
  main > .hero-section {
    padding: 2rem 0rem 10rem 0rem;
  }
  .hero-section > .container > .hero-container {
    flex-direction: column;
    gap: 4rem;
  }
  .Hero-section-slider > .hero-sideTopImg {
    left: 65%;
    width: 100px;
    height: 100px;
  }
  .Hero-section-slider > .hero-sideTopImg > p {
    padding: 1rem 0rem 0 0rem;
    font-size: 9px;
  }

  .Hero-section-slider > .hero-sideTopImg > p > span {
    font-size: 12px;
  }
  .Hero-section-slider {
    width: 90%;
  }
  .hero-left-section > .hero-heading-section > img {
    width: 65%;
  }
}

@media only screen and (max-width: 300px) {
  main > .hero-section {
    padding: 2rem 0rem 7rem 0rem;
  }
}

/* Popular Section Popular Section Popular Section Popular Section Popular Section Popular Section Popular Section Popular Section Popular Section */
main > .popular-section {
  background: #d9e5fd;
}

.popular-container {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
}

.popular-container > h2 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.523%; /* 58.609px */
}

.popular-container > .popular-search-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.popular-search-container > a > p {
  color: var(--primary-color);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  padding: 10px 20px;
  gap: 10px;
  border-radius: 70px;
  background: #f3f8ff;
}

@media only screen and (max-width: 480px) {
  .popular-container > h2 {
    font-size: 30px;
  }
  .popular-search-container > a > p {
    font-size: 12px;
    padding: 5px 15px;
    gap: 5px;
    line-height: 20px;
  }
}

/* secure section  secure section secure section secure section secure section secure section secure section secure section secure section  */

main > .secure-section {
  background-image: url("./img/Secure-BgImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.secure-section > .container {
  width: 100%;
}

.secure-section > .container > .secure-container {
  padding: 2rem 0;
  gap: 5rem;
  width: 100%;
}

.secure-container > .secure-left-section {
  padding: 4rem;
  width: 50%;
  border-radius: 50%;
  position: relative;
  background-color: #ffffffe8;
}

.secure-container > .secure-left-section > .secure-section-img {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 75px;
}

.secure-left-section > .secure-shapeImg {
  position: absolute;
  top: 130px;
  right: 190px;
  width: 20%;
  height: 13.788px;
  transform: rotate(-1.644deg);
  flex-shrink: 0;
}

.secure-container > .secure-right-section {
  padding: 6rem 0;
  width: 50%;
  background-color: #ffffffe8;
}

.secure-right-section > .secure-options {
  padding: 1rem;
  gap: 2rem;
  flex-direction: column;
}

.secure-options > .secure-option-card {
  gap: 2rem;
}

.secure-option-card > .secure-card-number {
  width: 80px;
  height: 80px;
  padding: 30px;
  justify-content: center;
  color: #b7c8a9;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.523%;
  border-radius: 24px;
  background: #e2eed8;
}

.secure-option-card > .secure-card-info {
  width: 270px;
  height: 80px;
}

.secure-option-card > .secure-card-info > p {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.secure-option-card > .secure-card-info > p > span {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}

@media only screen and (max-width: 1400px) {
  .secure-option-card > .secure-card-number {
    width: 70px;
    height: 70px;
    font-size: 35px;
  }
  .secure-option-card > .secure-card-info > p {
    font-size: 22px;
    line-height: 30px;
  }
  .secure-option-card > .secure-card-info > p > span {
    font-size: 22px;
    line-height: 30px;
  }
  .secure-left-section > .secure-shapeImg {
    top: 121px;
    right: 170px;
    width: 18%;
  }
}

@media only screen and (max-width: 1200px) {
  .secure-container > .secure-right-section {
    width: 45%;
  }
  .secure-container > .secure-left-section {
    padding: 3rem;
  }
  .secure-options > .secure-option-card {
    gap: 1rem;
  }
  .secure-option-card > .secure-card-info > p {
    font-size: 22px;
    line-height: 30px;
  }
  .secure-option-card > .secure-card-info > p > span {
    font-size: 22px;
    line-height: 30px;
  }

  .secure-left-section > .secure-shapeImg {
    top: 100px;
    right: 150px;
    width: 17%;
  }
  .secure-right-section > .secure-options {
    gap: 1rem;
  }
}

@media only screen and (max-width: 995px) {
  .secure-container > .secure-left-section {
    padding: 1rem;
  }

  .secure-option-card > .secure-card-number {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  .secure-option-card > .secure-card-info > p {
    padding-right: 2rem;
    font-size: 16px;
    line-height: 20px;
  }
  .secure-option-card > .secure-card-info > p > span {
    font-size: 16px;
  }
  .secure-left-section > .secure-shapeImg {
    top: 55px;
    width: 20%;
    height: 8px;
  }
  .secure-right-section > .secure-options {
    width: 100%;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 770px) {
  .secure-section > .container {
    max-width: 100%;
  }
  .secure-section > .container > .secure-container {
    flex-direction: column;
    gap: 1rem;
  }
  .secure-left-section > .secure-shapeImg {
    right: 50%;
    top: 16%;
    width: 20%;
    height: 8px;
  }
  .secure-container > .secure-right-section {
    width: 100%;
    padding: 0 0;
    flex-direction: column;
    gap: 1rem;
  }
  .secure-right-section > .secure-options {
    width: 100%;
    justify-content: center;
  }
  .secure-options > .secure-option-card {
    width: 80%;
  }
  .secure-option-card > .secure-card-info {
    width: 100%;
    height: 0;
    padding: 1.5rem 0;
  }
  .secure-option-card > .secure-card-info > p {
    padding-right: 0rem;
    font-size: 20px;
    line-height: 30px;
  }
  .secure-option-card > .secure-card-info > p > span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .secure-left-section > .secure-shapeImg {
    top: 18%;
    width: 17%;
    height: 5px;
  }
  .secure-option-card > .secure-card-number {
    width: 70px;
    height: 50px;
    padding: 0;
    border-radius: 30%;
    font-size: 20px;
  }
  .secure-option-card > .secure-card-info > p {
    padding-right: 0rem;
    font-size: 16px;
    line-height: 20px;
  }
  .secure-option-card > .secure-card-info > p > span {
    font-size: 16px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .secure-container > .secure-left-section {
    padding: 0rem;
  }
  .secure-left-section > .secure-shapeImg {
    top: 14%;
    width: 20%;
  }
}

@media only screen and (max-width: 350px) {
  .secure-container > .secure-left-section {
    padding: 0rem;
  }
  .secure-options > .secure-option-card {
    width: 95%;
  }
  .secure-left-section > .secure-shapeImg {
    top: 14%;
    width: 20%;
  }
  .secure-option-card > .secure-card-number {
    width: 50px;
    height: 40px;
    border-radius: 30%;
    font-size: 15px;
    margin-bottom: 0;
  }
  .secure-option-card > .secure-card-info > p {
    margin-bottom: 0;
    font-size: 12px;
  }
  .secure-option-card > .secure-card-info > p > span {
    font-size: 12px;
    line-height: 20px;
  }
}

/* Feature section  Feature section  Feature section  Feature section  Feature section  Feature section  Feature section  Feature section   */

main > .feature-section {
  background-color: var(--primary-bgColor);
  padding: 4rem 0rem;
  width: 100%;
}

.feature-section > .container {
  width: 100%;
  justify-content: center;
  padding: 2rem 0 1rem 0;
}

.container > .feature-container {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.feature-container > .feature-card-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 600px;
  border-radius: 30px;
  background: var(--secondary-color);
  box-shadow: 0px 0px 67.29px 0px rgba(0, 0, 0, 0.12);
}

.feature-card-container > .feature-card {
  width: 100%;
}

.feature-card-container > .feature-card > a {
  display: none;
}

.feature-card > .feature-card-left {
  width: 46%;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
}

.feature-card > .feature-card-left > h2 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.feature-card > .feature-card-left > p {
  color: #414141;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.4px;
}

.feature-card-left > div {
  flex-direction: column;
  gap: 2.4rem;
  align-items: start;
}

.feature-card-left > .main-flex > a {
  text-decoration: none;
}

.feature-card-left > div > .feature-card-point-container {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.feature-card-point-container > .feature-card-point {
  justify-content: start;
  gap: 1rem;
}

.feature-card-point-container > .feature-card-point > img {
  width: 1.5rem;
}

.feature-card-point-container > .feature-card-point > p {
  color: #625df5;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.8px;
  margin-bottom: 0;
}

.feature-card > .feature-card-right {
  width: 50%;
}

.feature-card > .feature-card-right > img {
  width: 90%;
}

@media only screen and (max-width: 900px) {
  .feature-container > .feature-card-container {
    padding: 2rem 2rem;
  }
}

@media only screen and (max-width: 770px) {
  main > .feature-section {
    padding: 2rem 0rem;
  }
  .container > .feature-container {
    gap: 2rem;
  }
  .feature-container > .feature-card-container {
    height: auto;
  }
  .feature-card-container > .feature-card {
    flex-direction: column;
    gap: 3rem;
  }
  .feature-card-container > .feature-card > a {
    display: block;
    width: 100%;
  }
  .feature-card-container > .feature-card > a > .secondary-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
  }
  .feature-card > .feature-card-left {
    width: 95%;
  }
  .feature-card-left > .main-flex > a {
    display: none;
  }
  .feature-card > .feature-card-right {
    width: 95%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .feature-container > .feature-card-container {
    padding: 2rem 1rem;
    border-radius: 10px;
  }
  .feature-section > .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .feature-container > .feature-card-container {
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 10px;
  }
  .feature-section > .container {
    max-width: 90%;
  }
  .feature-card > a > .secondary-btn {
    padding: 7px 14px;
    height: 45px;
  }
  .feature-card > .feature-card-left > h2 {
    font-size: 30px;
  }
  .feature-card > .feature-card-left > p {
    font-size: 15px;
  }
  .feature-card-point-container > .feature-card-point > img {
    width: 1rem;
  }
  .feature-card-point-container > .feature-card-point > p {
    font-size: 14px;
  }
}

/* Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  */

.Earn-section {
  width: 100%;
  padding: 5rem 0 13rem 0;
  position: relative;
}

.Earn-section > .earn-section-bgImg > .earn-section-bottomImg {
  position: absolute;
  width: 15%;
  right: 10%;
  bottom: 1%;
}

.Earn-section > .earn-section-bgImg > .earn-section-topImg {
  position: absolute;
  width: 27%;
  top: 0;
  right: 0;
}

.Earn-section > .container {
  width: 100%;
  justify-content: center;
}

.container > .earn-container {
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}

.earn-container > .earn-heading-img {
  width: 100%;
}

.earn-container > .earn-heading-img > img {
  width: 40%;
}

.earn-container > .earn-section-main {
  width: 100%;
  gap: 2rem;
}

.earn-section-main > .earn-section-left {
  flex-direction: column;
  width: 40%;
}

.earn-section-left > .earn-card {
  width: 100%;
}

.earn-card > .earn-card-sideline1 {
  width: 1%;
  height: 140px;
  background-color: var(--secondary-bgColor);
}

.earn-card > .earn-card-sideline {
  width: 1%;
  height: 140px;
  background-color: #f2f4f7;
}

.earn-card > .earn-card-info {
  width: 95%;
  padding: 16px 0;
}

.earn-card > .earn-card-info > h3 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 107.143% */
}

.earn-card > .earn-card-info > p {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.earn-section-main > .earn-section-right {
  width: 50%;
  justify-content: end;
}

.earn-section-slider {
  width: 100%;
  justify-content: end;
}

.earn-section-right .slick-slide img {
  width: 90%;
  height: 500px;
  margin: 0 auto;
}

.Earn .img-section .slider-card-info {
  display: none;
}
.earn-section-slider > .Earn {
  width: 100%;
  height: 100%;
}

.Earn > .img-section {
  width: 100%;
  height: 100%;
  background-color: #161458;
  color: var(--footer-primary-color);
}

@media only screen and (max-width: 1200px) {
  .Earn-section > .container {
    max-width: 90%;
  }
  .Earn-section {
    padding: 5rem 0 6rem 0;
  }
  .Earn-section > .earn-section-bgImg > .earn-section-bottomImg {
    width: 20%;
  }

  .Earn-section > .earn-section-bgImg > .earn-section-topImg {
    width: 35%;
  }
}

@media only screen and (max-width: 990px) {
  .earn-card > .earn-card-info > h3 {
    font-size: 23px;
  }
  .earn-card > .earn-card-info > p {
    font-size: 14px;
  }
  .earn-card > .earn-card-info {
    padding: 12px 0;
  }
  .earn-section-right .slick-slide img {
    height: 430px;
  }
}

@media only screen and (max-width: 770px) {
  .earn-container > .earn-heading-img {
    display: flex;
    justify-content: center;
  }
  .earn-container > .earn-heading-img > img {
    width: 80%;
  }
  .Earn-section > .earn-section-bgImg {
    display: none;
  }

  .earn-section-main > .earn-section-left {
    display: none;
  }

  .earn-section-main > .earn-section-right {
    width: 100%;
  }

  .Earn .img-section {
    gap: 3rem;
  }

  .Earn .img-section .slider-card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .Earn .img-section .slider-card-info > h3 {
    padding-top: 2rem;
    color: var(--primary-color);
    font-family: "Plus Jakarta Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 107.143% */
    text-align: center;
  }

  .Earn .img-section .slider-card-info > p {
    padding: 0 1rem;
    color: #475467;
    font-family: "Plus Jakarta Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 30px; /* 150% */
  }

  .earn-section-right .slick-slide img {
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .Earn-section {
    padding: 5rem 0 3rem 0;
  }
  .Earn-section > .container {
    max-width: 95%;
  }
  .Earn .img-section .slider-card-info > h3 {
    font-size: 25px;
    line-height: 25px;
  }

  .Earn .img-section .slider-card-info > p {
    font-size: 20px;
    line-height: 25px; /* 150% */
  }

  .earn-section-right .slick-slide img {
    width: 95%;
  }
}

@media only screen and (max-width: 450px) {
  .Earn .img-section .slider-card-info > h3 {
    font-size: 20px;
  }

  .Earn .img-section .slider-card-info > p {
    font-size: 16px;
    font-weight: 400;
  }
}

/* Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section  */

.Reviews-section {
  width: 100%;
  background-color: var(--primary-color);
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.Reviews-section > .container {
  width: 100%;
  height: 100%;
}

.container > .reviews-container {
  width: 100%;
  height: 100%;
}

.reviews-container > .reviews-section-left {
  width: 45%;
}

.reviews-container > .reviews-section-left > .main-flex {
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.reviews-section-left > .main-flex > h1 {
  color: var(--secondary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviews-section-left > .main-flex > h1 > span {
  color: var(--secondary-bgColor);
  font-family: "DM Sans";
  font-size: 56px;
  font-weight: 700;
}

.reviews-section-left > .main-flex > img {
  width: 40%;
}

.reviews-container > .reviews-section-right {
  width: 50%;
  height: 100%;
  justify-content: center;
}

.reviews-section-right > .review-card-containers {
  width: 100%;
}

.reviews-section-right > .review-section-slider-mobile {
  display: none;
}

.reviews-section-right > .review-card-containers > .review-card-column {
  color: var(--secondary-color);
  width: 50%;
  gap: 2rem;
}

.review-card-containers > .review-card-column {
  height: 100%;
  padding: 1rem 1.2rem 0 1.2rem;
  width: 100%;
  gap: 1rem;
}

.review-card-containers > .review-card-column .item {
  height: 100%;
  width: 100%;
}

.review-card-containers .review-card-column .item .reviews-card {
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  flex-direction: column;
}

.review-card-column .reviews-card {
  background-color: var(--secondary-color);
  padding: 1rem 1.2rem 0 1.2rem;
  width: 88%;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.reviews-card > h3 {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reviews-card > img {
  width: 60%;
}

.reviews-card > p {
  color: var(--black-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .Reviews-section > .container {
    max-width: 95%;
  }
  .reviews-container > .reviews-section-right {
    width: 54%;
    height: 100%;
    justify-content: center;
  }

  .review-card-containers .review-card-column .item .reviews-card {
    padding: 1rem 1rem;
  }
  .reviews-section-left > .main-flex > h1 {
    font-size: 35px;
  }
  .reviews-section-left > .main-flex > h1 > span {
    font-size: 35px;
  }
  .reviews-card > p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 990px) {
  .review-card-containers .review-card-column .item .reviews-card {
    padding: 1rem 0.5rem;
  }
  .reviews-section-left > .main-flex > h1 {
    font-size: 26px;
  }
  .reviews-section-left > .main-flex > h1 > span {
    font-size: 26px;
  }
  .reviews-card > p {
    font-size: 12px;
  }
  .review-card-containers > .review-card-column {
    padding: 1rem 0.3rem 0rem 0.3rem;
  }
}

@media only screen and (max-width: 770px) {
  .Reviews-section {
    padding: 2rem 0;
    height: auto;
  }
  .container > .reviews-container {
    flex-direction: column;
    gap: 4rem;
  }

  .reviews-container > .reviews-section-left {
    width: 90%;
  }

  .reviews-section-left > .main-flex > h1 {
    font-size: 35px;
  }

  .reviews-section-left > .main-flex > h1 > span {
    font-size: 35px;
  }

  .review-card-containers {
    display: none;
  }
  .reviews-container > .reviews-section-right {
    width: 70%;
  }
  .reviews-section-right > .review-section-slider-mobile {
    display: flex;
    width: 50%;
  }

  .reviews-section-right > .review-section-slider-mobile {
    display: flex;
    width: 95%;
  }

  .review-section-slider {
    width: 100%;
  }

  .reviewSliderMoblie .img-section .slider-card-info {
    background-color: var(--secondary-color);
    padding: 1rem 1.2rem 1rem 1.2rem;
    width: 88%;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    gap: 0.5rem;
  }

  .reviewSliderMoblie .img-section .slider-card-info img {
    width: 50%;
  }

  .review-section-slider .reviewSliderMoblie {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .reviewSliderMoblie .img-section {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .Reviews-section > .container {
    max-width: 100%;
  }
  .reviews-section-left > .main-flex > h1 {
    font-size: 28px;
    line-height: 35px;
  }

  .reviews-section-left > .main-flex > h1 > span {
    font-size: 28px;
    line-height: 35px;
  }

  .reviews-container > .reviews-section-right {
    width: 90%;
  }
}

@media only screen and (max-width: 350px) {
  .reviews-section-left > .main-flex > h1 {
    font-size: 22px;
    line-height: 35px;
  }

  .reviews-section-left > .main-flex > h1 > span {
    font-size: 22px;
    line-height: 35px;
  }

  .reviews-container > .reviews-section-right {
    width: 100%;
  }
}

/* Refer Section  Refer Section  Refer Section  
Refer Section  Refer Section  Refer Section  
Refer Section  Refer Section  Refer Section  */

.Refer-section {
  width: 100%;
}

.Refer-section > .container {
  width: 100%;
  height: 80%;
  padding: 0 0 10rem 0;
}

.Refer-section > .container > .refer-container {
  width: 100%;
  height: 100%;
}

.refer-container > .refer-section-left {
  width: 50%;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  padding: 8rem 0 0 0;
}

.refer-container > .refer-section-left > a > button {
  color: var(--secondary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-weight: 500;
}

.refer-section-left > .refer-section-heading > h3 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.refer-section-left > .refer-section-heading > h3 > span {
  color: var(--primary-color);
  font-family: "Square Peg";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.523%;
}

.refer-section-left > .refer-section-heading {
  position: relative;
}

.refer-section-left > .refer-section-heading > img {
  position: absolute;
  right: 1%;
  width: 35%;
  bottom: 2%;
}

.refer-section-left > .refer-section-midContent {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.refer-section-left > .refer-section-midContent > h4 {
  color: #161458;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.refer-section-left > .refer-section-midContent > ul {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.refer-section-left > .refer-section-midContent > ul > li {
  color: #625df5;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.refer-container > .refer-section-right {
  width: 50%;
  height: 100%;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.refer-container > .refer-section-right > .refer-main-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.refer-section-right > .refer-main-img > .refer-right-blueBG {
  width: 70%;
  position: absolute;
  top: -50px;
  left: 150px;
}

.refer-section-right > .refer-main-img > .refer-right-sectionImg {
  width: 45%;
  position: absolute;
  top: -120px;
  left: 230px;
}

.refer-section-right > .refer-currency-img {
  position: relative;
}

.refer-currency-img > .refer-section-rupeeImg {
  padding: 0.5rem;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  left: 495px;
  top: -15px;
  background-color: #d299ff;
}

.refer-currency-img > .refer-section-noteImg {
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  top: 100px;
  left: 187px;
  background-color: #00c385;
}

.refer-currency-img > .refer-section-walletImg {
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  top: 205px;
  left: 503px;
  background-color: #febd9d;
}

/* Employers Zone   Employers Zone  Employers Zone  Employers Zone  Employers Zone  Employers Zone  Employers Zone  Employers Zone  Employers Zone  */

.Employers-section {
  width: 100%;
  background-color: #ffe6d9;
}

.Employers-section > .container {
  width: 100%;
}

.Employers-section > .container > .employe-container {
  width: 100%;
}

.employe-container > .employe-section-left {
  width: 50%;
  padding: 3rem 0 0 0;
  justify-content: start;
}

.employe-container > .employe-section-left > img {
  width: 50%;
}

.employe-container > .employe-section-right {
  width: 40%;
  gap: 2rem;
  align-items: start;
  flex-direction: column;
}

.employe-container > .employe-section-right > h3 {
  color: #2254b5;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 64px */
}

.employe-container > .employe-section-right > h4 {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 144% */
  text-transform: capitalize;
}

.employe-container > .employe-section-right > p {
  color: #4f4f4f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 142.857% */
}

.employe-container > .employe-section-right > a > button {
  font-size: 24px;
}

/* Media Section  Media Section  Media Section  Media Section  Media Section  Media Section  Media Section  Media Section  Media Section  Media Section  Media Section  Media Section   */

.Media-section {
  width: 100%;
}

.Media-section > .container {
  width: 100%;
  padding: 4rem 0 2rem 0;
}

.Media-section > .container > .media-container {
  width: 100%;
  gap: 4rem;
  flex-direction: column;
}

.Media-section > .container > .media-container > .media-heading {
  width: 100%;
  position: relative;
}

.media-container > .media-heading > h2 {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  text-transform: capitalize;
}

.media-container > .media-heading > .media-slider-arrow {
  width: 10%;
  position: relative;
}

.media-heading > .media-slider-arrow > .swiper-button-next {
  position: absolute;
  right: 0px;
  color: var(--primary-color);
}

.media-heading > .media-slider-arrow > .swiper-button-prev {
  position: absolute;
  color: var(--primary-color);
  left: 0;
}

.media-container > .media-slider {
  width: 100%;
  height: 50vh;
}

.media-container > .media-slider > .swiper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.media-slider > .swiper > .swiper-wrapper {
  height: 85%;
  width: 100%;
}

.swiper > .swiper-wrapper > .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper > .swiper-wrapper > .swiper-slide > div {
  width: 100%;
  height: 100%;
}

.media-slider > .swiper > .swiper-wrapper > .swiper-slide > div > img {
  width: 50%;
  height: 100%;
}

.swiper-wrapper > .swiper-slide > div > .media-slider-content {
  width: 45%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

.swiper-slide > div > .media-slider-content > h3 {
  overflow: hidden;
  width: 100%;
  padding: 0 1rem 0 0;
  color: #1e1e23;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.swiper-slide > div > .media-slider-content > p {
  overflow: hidden;
  color: #1e1e23;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.swiper-slide > div > .media-slider-content > .media-slider-date {
  width: 90%;
}

.swiper-slide > div > .media-slider-content > .media-slider-date > p {
  color: #1e1e23;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.swiper-slide > div > .media-slider-content > a {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
  text-decoration-line: underline;
}

/* Download Section  Download Section  Download Section  Download Section  Download Section  Download Section  Download Section  Download Section  Download Section  Download Section   */

.Download-section {
  width: 100%;
  padding: 5rem 0 0rem 0;
  /* height: 6/0vh; */
}

.Download-section > .container {
  width: 100%;
  height: 100%;
}

.Download-section > .container > .download-container {
  width: 100%;
  height: 100%;
}

.download-container > .download-section-left {
  width: 40%;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
}

.download-container > .download-section-left > h2 {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 144% */
  text-transform: capitalize;
}

.download-container > .download-section-left > .download-button {
  gap: 2rem;
}

.download-container > .download-section-left > h2 > span {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
  text-transform: capitalize;
}

.download-container > .download-section-right {
  width: 40%;
  height: 100%;
  padding: 0 0 1rem 0;
  position: relative;
}

.download-container > .download-section-right > .download-right-section-glowBg {
  width: 765.035px;
  height: 594.583px;
  filter: blur(30px);
  transform: rotate(90deg);
  flex-shrink: 0;
  position: absolute;
  left: -200px;
  bottom: 0;
  border-radius: 765.035px;
  z-index: -1;
  background: linear-gradient(
    287deg,
    #d7e2f0 17.64%,
    rgba(221, 229, 238, 0.32) 98.61%
  );
}

.download-container > .download-section-right > img {
  width: 70%;
}

/* Footer Section   Footer Section   Footer Section   Footer Section   Footer Section   Footer Section   Footer Section   Footer Section   */

.Footer-section {
  width: 100%;
  height: 100vh;
  background-color: #1c1c1c;
}

.Footer-section > .container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 5rem;
}

.Footer-section > .container > .footer-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.Footer-section > .container > .footer-copyRight {
  flex-direction: column;
  width: 100%;
}

.Footer-section > .container > .footer-copyRight > hr {
  width: 100%;
  color: var(--footer-primary-color);
}

.Footer-section > .container > .footer-copyRight > p {
  color: var(--footer-primary-color);
}

.footer-container > .footer-row {
  height: 50%;
  width: 100%;
  align-items: start;
}

.footer-container > .footer-row > .footer-company-details {
  flex-direction: column;
  align-items: start;
  width: 30%;
  gap: 1rem;
}

.footer-row > .footer-company-details > img {
  width: 80%;
}

.footer-row > .footer-company-details > p {
  color: var(--footer-primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.footer-row > .footer-company-details > .footer-contactNumber {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-company-details > .footer-social-icon {
  width: 35%;
}

.footer-company-details > .footer-social-icon > a > img {
  width: 32px;
}

.footer-row > .footer-subSection {
  width: 20%;
  flex-direction: column;
  align-items: start;
}

.footer-row > .footer-subSection > h4 {
  color: var(--footer-primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width: 80%;
}

.footer-row > .footer-subSection > p {
  width: 100%;
  height: 2px;
  background-color: #555;
  position: relative;
}

.footer-bottom-section > .footer-subSection > p {
  width: 40%;
  height: 2px;
  background-color: var(--secondary-bgColor);
}

.footer-row > .footer-subSection > p > span {
  display: block;
  width: 36%;
  height: 100%;
  position: absolute;
  background-color: var(--secondary-bgColor);
}

.footer-row > .footer-subSection > div {
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.footer-row > .footer-subSection > div > a > li {
  list-style: none;
  color: var(--footer-primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-row > .footer-subSection > div > a > li :hover {
  color: var(--primary-color);
}
