:root {
  --primary-color: #161458;
  --secondary-color: #ffffff;

  --black-color: #000000;

  --primary-bgColor: #faf9f9;
  --secondary-bgColor: #00c385;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  overflow-x: hidden;
} */

.main-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-decoration {
  text-decoration: none;
}

.primary-btn {
  height: 50px;
  padding: 23px 38px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.523%; /* 26.374px */
  background-color: var(--primary-color);
  box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.03);
  border: none;
}

.secondary-btn {
  padding: 10px 20px;
  height: 50px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.523%; /* 26.374px */
  background-color: var(--secondary-bgColor);
  box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.03);
  border: none;
}

/* header section header section header section header section header section header section header section header section header section header section header section header section  */
.header-main > a > img {
  width: 146.978px;
  height: 48px;
  flex-shrink: 0;
}

.header-main > .header-login-section > a {
  color: var(--primary-color);
}

.header-main > .header-login-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 38px;
  flex-shrink: 0;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  Hero section  */
main > .hero-section {
  background-color: var(--primary-bgColor);
  padding: 4rem 0rem;
}

.container > .hero-container {
  position: relative;
}

.hero-container > .hero-sideMainImg {
  width: 45%;
  flex-shrink: 0;
}

.hero-container > .hero-sideTopImg {
  position: absolute;
  left: 640px;
  z-index: 2;
  top: -50px;
  width: 155px;
  height: 155px;
}

.hero-left-section {
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}

.hero-left-section > .hero-heading-section > .hero-left-heading {
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
  flex-direction: column;
  color: var(--primary-color);
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 81px;
  text-transform: capitalize;
}

.hero-left-heading > span {
  font-weight: 700;
}

.hero-heading-bottom-section {
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}

.hero-heading-bottom-section > .download-button {
  gap: 1.5rem;
  position: relative;
}

.hero-heading-bottom-section > p {
  padding: 0 5rem 0 0;
  color: #1c1c1c;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* Popular Section Popular Section Popular Section Popular Section Popular Section Popular Section Popular Section Popular Section Popular Section */
main > .popular-section {
  background: #d9e5fd;
}

.popular-container {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
}

.popular-container > h2 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.523%; /* 58.609px */
}

.popular-container > .popular-search-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.popular-search-container > a > p {
  color: var(--primary-color);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  padding: 10px 20px;
  gap: 10px;
  border-radius: 70px;
  background: #f3f8ff;
}

/* secure section  secure section secure section secure section secure section secure section secure section secure section secure section  */

main > .secure-section {
  background-image: url("/Lipitech\ Img/Secure-BgImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.secure-container {
  padding: 2rem 0;
  gap: 5rem;
}

.secure-container > .secure-left-section {
  padding: 4rem;
  border-radius: 50%;
  position: relative;
  background-color: #ffffffe8;
}

.secure-container > .secure-left-section > .secure-section-img {
  display: flex;
  width: 485px;
  flex-direction: column;
  align-items: flex-start;
  gap: 75px;
}

.secure-left-section > .secure-shapeImg {
  position: absolute;
  top: 8rem;
  right: 12rem;
  width: 116.856px;
  height: 13.788px;
  transform: rotate(-1.644deg);
  flex-shrink: 0;
}

.secure-container > .secure-right-section {
  padding: 6rem 0;
  width: 50%;
  background-color: #ffffffe8;
}

.secure-right-section > .secure-options {
  padding: 1rem;
  gap: 2rem;
  flex-direction: column;
}

.secure-options > .secure-option-card {
  gap: 2rem;
}

.secure-option-card > .secure-card-number {
  width: 80px;
  height: 80px;
  padding: 30px;
  gap: 10px;
  color: #b7c8a9;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.523%; /* 70.331px */
  font-size: 2rem;
  border-radius: 24px;
  background: #e2eed8;
}

.secure-option-card > .secure-card-info {
  width: 270px;
  height: 80px;
}

.secure-option-card > .secure-card-info > p {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.secure-option-card > .secure-card-info > p > span {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}

/* Feature section  Feature section  Feature section  Feature section  Feature section  Feature section  Feature section  Feature section   */

main > .feature-section {
  background-color: var(--primary-bgColor);
  padding: 4rem 0rem;
  width: 100%;
}

.feature-section > .container {
  width: 100%;
  justify-content: center;
  padding: 2rem 0 1rem 0;
}

.container > .feature-container {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.feature-container > .feature-card-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 600px;
  border-radius: 30px;
  background: var(--secondary-color);
  box-shadow: 0px 0px 67.29px 0px rgba(0, 0, 0, 0.12);
}

.feature-card-container > .feature-card {
  width: 100%;
}

.feature-card > .feature-card-left {
  width: 46%;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
}

.feature-card > .feature-card-left > h2 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.feature-card > .feature-card-left > p {
  color: #414141;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.4px;
}

.feature-card-left > div {
  flex-direction: column;
  gap: 2.4rem;
  align-items: start;
}

.feature-card-left > .main-flex > a {
  text-decoration: none;
}

.feature-card-left > div > .feature-card-point-container {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.feature-card-point-container > .feature-card-point {
  justify-content: start;
  gap: 1rem;
}

.feature-card-point-container > .feature-card-point > img {
  width: 1.5rem;
}

.feature-card-point-container > .feature-card-point > p {
  color: #625df5;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.8px;
  margin-bottom: 0;
}

.feature-card > .feature-card-right {
  width: 50%;
}

.feature-card > .feature-card-right > img {
  width: 90%;
}

/* Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  Earn Section  */

.Earn-section {
  width: 100%;
  padding: 5rem 0 13rem 0;
  position: relative;
}

.Earn-section > .earn-section-bgImg > .earn-section-bottomImg {
  position: absolute;
  width: 15%;
  right: 10%;
  bottom: 1%;
}

.Earn-section > .earn-section-bgImg > .earn-section-topImg {
  position: absolute;
  width: 27%;
  top: 0;
  right: 0;
}

.Earn-section > .container {
  width: 100%;
  justify-content: center;
}

.container > .earn-container {
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}

.earn-container > .earn-heading-img {
  width: 100%;
}

.earn-container > .earn-heading-img > img {
  width: 40%;
}

.earn-container > .earn-section-main {
  width: 100%;
}

.earn-section-main > .earn-section-left {
  flex-direction: column;
  width: 40%;
}

.earn-section-left > .earn-card {
  width: 100%;
}

.earn-card > .earn-card-sideline1 {
  width: 1%;
  height: 140px;
  background-color: var(--secondary-bgColor);
}

.earn-card > .earn-card-sideline {
  width: 1%;
  height: 140px;
  background-color: #f2f4f7;
}

.earn-card > .earn-card-info {
  width: 95%;
  padding: 16px 0;
}

.earn-card > .earn-card-info > h3 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 107.143% */
}

.earn-card > .earn-card-info > p {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.earn-section-main > .earn-section-right {
  width: 50%;
}

.earn-section-main > .earn-section-right > img {
  width: 90%;
}

/* Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section   Reviews Section  */

.Reviews-section {
  width: 100%;
  background-color: var(--primary-color);
  height: 90vh;
  overflow-y: hidden;
}

.Reviews-section > .container {
  width: 100%;
  height: 100%;
}

.container > .reviews-container {
  width: 100%;
}

.reviews-container > .reviews-section-left {
  width: 45%;
}

.reviews-container > .reviews-section-left > .main-flex {
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.reviews-section-left > .main-flex > h1 {
  color: var(--secondary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviews-section-left > .main-flex > h1 > span {
  color: var(--secondary-bgColor);
  font-family: "DM Sans";
  font-size: 56px;
  font-weight: 700;
}

.reviews-section-left > .main-flex > img {
  width: 40%;
}

.reviews-container > .reviews-section-right {
  width: 50%;
}

.reviews-section-right > .review-card-containers {
  width: 100%;
}

.review-card-containers > .review-card-column {
  width: 50%;
  flex-direction: column;
  gap: 2rem;
}

.review-card-column > .reviews-card {
  background-color: var(--secondary-color);
  padding: 1rem 1.2rem 0 1.2rem;
  width: 88%;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.reviews-card > h3 {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reviews-card > img {
  width: 60%;
}

.reviews-card > p {
  color: var(--black-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Refer Section  Refer Section  Refer Section  
Refer Section  Refer Section  Refer Section  
Refer Section  Refer Section  Refer Section  */

.Refer-section {
  width: 100%;
}

.Refer-section > .container {
  width: 100%;
  height: 80%;
  padding: 0 0 10rem 0;
}

.Refer-section > .container > .refer-container {
  width: 100%;
  height: 100%;
}

.refer-container > .refer-section-left {
  width: 50%;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  padding: 8rem 0 0 0;
}

.refer-container > .refer-section-left > a > button {
  color: var(--secondary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-weight: 500;
}

.refer-section-left > .refer-section-heading > h3 {
  color: var(--primary-color);
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.refer-section-left > .refer-section-heading > h3 > span {
  color: var(--primary-color);
  font-family: "Square Peg";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.523%;
}

.refer-section-left > .refer-section-heading {
  position: relative;
}

.refer-section-left > .refer-section-heading > img {
  position: absolute;
  right: 1%;
  width: 35%;
  bottom: 2%;
}

.refer-section-left > .refer-section-midContent {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.refer-section-left > .refer-section-midContent > h4 {
  color: #161458;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.refer-section-left > .refer-section-midContent > ul {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.refer-section-left > .refer-section-midContent > ul > li {
  color: #625df5;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.refer-container > .refer-section-right {
  width: 50%;
  height: 100%;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.refer-container > .refer-section-right > .refer-main-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.refer-section-right > .refer-main-img > .refer-right-blueBG {
  width: 70%;
  position: absolute;
  top: -50px;
  left: 150px;
}

.refer-section-right > .refer-main-img > .refer-right-sectionImg {
  width: 45%;
  position: absolute;
  top: -120px;
  left: 230px;
}

.refer-section-right > .refer-currency-img {
  position: relative;
}

.refer-currency-img > .refer-section-rupeeImg {
  padding: 0.5rem;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  left: 495px;
  top: -15px;
  background-color: #d299ff;
}

.refer-currency-img > .refer-section-noteImg {
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  top: 100px;
  left: 187px;
  background-color: #00c385;
}

.refer-currency-img > .refer-section-walletImg {
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  top: 205px;
  left: 503px;
  background-color: #febd9d;
}

/* Employers Zone   Employers Zone  Employers Zone  Employers Zone  Employers Zone  Employers Zone  Employers Zone  Employers Zone  Employers Zone  */

.Employers-section {
  width: 100%;
  background-color: #ffe6d9;
}

.Employers-section > .container {
  width: 100%;
}

.Employers-section > .container > .employe-container {
  width: 100%;
}

.employe-container > .employe-section-left {
  width: 50%;
  padding: 3rem 0 0 0;
  justify-content: start;
}

.employe-container > .employe-section-left > img {
  width: 50%;
}

.employe-container > .employe-section-right {
  width: 40%;
  gap: 2rem;
  align-items: start;
  flex-direction: column;
}

.employe-container > .employe-section-right > h3 {
  color: #2254b5;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 64px */
}

.employe-container > .employe-section-right > h4 {
  color: var(--primary-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 144% */
  text-transform: capitalize;
}

.employe-container > .employe-section-right > p {
  color: #4f4f4f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 142.857% */
}

.employe-container > .employe-section-right > a > button {
  font-size: 24px;
}
